<!DOCTYPE html>
<html>
  <head>
    <title>WEMO</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <ul>
      <% wemos.each do |wemo| %>
        <li class="device">
          <strong class="title"><%= wemo.name %></strong>
          <div class="state <%= "on" if wemo.on? %>">&#xF011;</div>
          <div class="light <%= "on" if wemo.on? %>"></div>
        </li>
      <% end %>
    </ul>
  </body>
</html>
